
<div id="body"></div>

{{!-- <h2>{{corndogs}}</h2>
<h3>{{user}}</h3>
<p>{{JSONStringify req}}</p> --}}

<script>
  window.bootstrap = {};
  window.bootstrap.environment = '{{locals.environment}}';
  window.bootstrap.user = {{{JSONStringify locals.user}}};
</script>

{{#if_eq locals.environment compare="production"}}
  <script data-main="/js/amd-app" src="/scripts/vendor/require/require-2.1.9.js"></script>
{{else}}
  <script>var require = { urlArgs : "v=" + new Date().getTime() };</script>
  <script data-main="/scripts/main" src="/scripts/vendor/require/require-2.1.9.js"></script>
{{/if_eq}}
